## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
import random

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [9]:
sample_list_1 = random.sample(range(0, 100), 80)
print (sample_list_1)

[14, 40, 67, 98, 47, 23, 18, 85, 5, 26, 6, 64, 72, 62, 38, 58, 51, 70, 71, 33, 1, 30, 25, 7, 29, 3, 11, 76, 82, 20, 46, 50, 19, 94, 56, 15, 0, 93, 52, 9, 83, 8, 42, 60, 87, 99, 63, 81, 35, 12, 43, 79, 37, 57, 49, 39, 16, 91, 59, 84, 78, 75, 65, 44, 66, 92, 24, 74, 28, 69, 36, 68, 61, 89, 90, 32, 4, 54, 22, 45]

In [82]:
set1 = (sample_list_1)
print(set1)

[14, 40, 67, 98, 47, 23, 18, 85, 5, 26, 6, 64, 72, 62, 38, 58, 51, 70, 71, 33, 1, 30, 25, 7, 29, 3, 11, 76, 82, 20, 46, 50, 19, 94, 56, 15, 0, 93, 52, 9, 83, 8, 42, 60, 87, 99, 63, 81, 35, 12, 43, 79, 37, 57, 49, 39, 16, 91, 59, 84, 78, 75, 65, 44, 66, 92, 24, 74, 28, 69, 36, 68, 61, 89, 90, 32, 4, 54, 22, 45]

In [75]:
set11 = dict.fromkeys(set1)
print (set11)

{14: None, 40: None, 67: None, 98: None, 47: None, 23: None, 18: None, 85: None, 5: None, 26: None, 6: None, 64: None, 72: None, 62: None, 38: None, 58: None, 51: None, 70: None, 71: None, 33: None, 1: None, 30: None, 25: None, 7: None, 29: None, 3: None, 11: None, 76: None, 82: None, 20: None, 46: None, 50: None, 19: None, 94: None, 56: None, 15: None, 0: None, 93: None, 52: None, 9: None, 83: None, 8: None, 42: None, 60: None, 87: None, 99: None, 63: None, 81: None, 35: None, 12: None, 43: None, 79: None, 37: None, 57: None, 49: None, 39: None, 16: None, 91: None, 59: None, 84: None, 78: None, 75: None, 65: None, 44: None, 66: None, 92: None, 24: None, 74: None, 28: None, 69: None, 36: None, 68: None, 61: None, 89: None, 90: None, 32: None, 4: None, 54: None, 22: None, 45: None}

In [13]:
print(len(sample_list_1))

80

In [12]:
for i in sample_list_1:
     print (i, "occurs", sample_list_1.count(i),"times")

14 occurs 1 times
40 occurs 1 times
67 occurs 1 times
98 occurs 1 times
47 occurs 1 times
23 occurs 1 times
18 occurs 1 times
85 occurs 1 times
5 occurs 1 times
26 occurs 1 times
6 occurs 1 times
64 occurs 1 times
72 occurs 1 times
62 occurs 1 times
38 occurs 1 times
58 occurs 1 times
51 occurs 1 times
70 occurs 1 times
71 occurs 1 times
33 occurs 1 times
1 occurs 1 times
30 occurs 1 times
25 occurs 1 times
7 occurs 1 times
29 occurs 1 times
3 occurs 1 times
11 occurs 1 times
76 occurs 1 times
82 occurs 1 times
20 occurs 1 times
46 occurs 1 times
50 occurs 1 times
19 occurs 1 times
94 occurs 1 times
56 occurs 1 times
15 occurs 1 times
0 occurs 1 times
93 occurs 1 times
52 occurs 1 times
9 occurs 1 times
83 occurs 1 times
8 occurs 1 times
42 occurs 1 times
60 occurs 1 times
87 occurs 1 times
99 occurs 1 times
63 occurs 1 times
81 occurs 1 times
35 occurs 1 times
12 occurs 1 times
43 occurs 1 times
79 occurs 1 times
37 occurs 1 times
57 occurs 1 times
49 occurs 1 times
39 occurs 1 times
16 occurs 1 times
91 occurs 1 times
59 occurs 1 times
84 occurs 1 times
78 occurs 1 times
75 occurs 1 times
65 occurs 1 times
44 occurs 1 times
66 occurs 1 times
92 occurs 1 times
24 occurs 1 times
74 occurs 1 times
28 occurs 1 times
69 occurs 1 times
36 occurs 1 times
68 occurs 1 times
61 occurs 1 times
89 occurs 1 times
90 occurs 1 times
32 occurs 1 times
4 occurs 1 times
54 occurs 1 times
22 occurs 1 times
45 occurs 1 times

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [58]:
sample_list_2 = []
for i in range(80):
    num = random.randint(0,101)
    sample_list_2.append(num)
print (sample_list_2)

[56, 39, 29, 79, 90, 47, 67, 6, 78, 74, 16, 18, 95, 3, 91, 7, 23, 79, 0, 0, 98, 77, 77, 14, 17, 55, 23, 39, 38, 18, 87, 37, 39, 11, 57, 39, 69, 67, 11, 49, 14, 69, 74, 1, 45, 86, 100, 76, 16, 55, 47, 13, 13, 14, 10, 77, 43, 90, 72, 54, 25, 39, 75, 58, 35, 8, 82, 1, 20, 21, 2, 59, 82, 88, 81, 71, 13, 80, 82, 99]

In [78]:
set12 = dict.fromkeys(set2)
print (set12)

{56: None, 39: None, 29: None, 79: None, 90: None, 47: None, 67: None, 6: None, 78: None, 74: None, 16: None, 18: None, 95: None, 3: None, 91: None, 7: None, 23: None, 0: None, 98: None, 77: None, 14: None, 17: None, 55: None, 38: None, 87: None, 37: None, 11: None, 57: None, 69: None, 49: None, 1: None, 45: None, 86: None, 100: None, 76: None, 13: None, 10: None, 43: None, 72: None, 54: None, 25: None, 75: None, 58: None, 35: None, 8: None, 82: None, 20: None, 21: None, 2: None, 59: None, 88: None, 81: None, 71: None, 80: None, 99: None}

In [59]:
for i in sample_list_2:
    print(i, "occurs", sample_list_2.count(i))

56 occurs 1
39 occurs 5
29 occurs 1
79 occurs 2
90 occurs 2
47 occurs 2
67 occurs 2
6 occurs 1
78 occurs 1
74 occurs 2
16 occurs 2
18 occurs 2
95 occurs 1
3 occurs 1
91 occurs 1
7 occurs 1
23 occurs 2
79 occurs 2
0 occurs 2
0 occurs 2
98 occurs 1
77 occurs 3
77 occurs 3
14 occurs 3
17 occurs 1
55 occurs 2
23 occurs 2
39 occurs 5
38 occurs 1
18 occurs 2
87 occurs 1
37 occurs 1
39 occurs 5
11 occurs 2
57 occurs 1
39 occurs 5
69 occurs 2
67 occurs 2
11 occurs 2
49 occurs 1
14 occurs 3
69 occurs 2
74 occurs 2
1 occurs 2
45 occurs 1
86 occurs 1
100 occurs 1
76 occurs 1
16 occurs 2
55 occurs 2
47 occurs 2
13 occurs 3
13 occurs 3
14 occurs 3
10 occurs 1
77 occurs 3
43 occurs 1
90 occurs 2
72 occurs 1
54 occurs 1
25 occurs 1
39 occurs 5
75 occurs 1
58 occurs 1
35 occurs 1
8 occurs 1
82 occurs 3
1 occurs 2
20 occurs 1
21 occurs 1
2 occurs 1
59 occurs 1
82 occurs 3
88 occurs 1
81 occurs 1
71 occurs 1
13 occurs 3
80 occurs 1
82 occurs 3
99 occurs 1

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [63]:
set2 = (sample_list_2)
print(set2)

[56, 39, 29, 79, 90, 47, 67, 6, 78, 74, 16, 18, 95, 3, 91, 7, 23, 79, 0, 0, 98, 77, 77, 14, 17, 55, 23, 39, 38, 18, 87, 37, 39, 11, 57, 39, 69, 67, 11, 49, 14, 69, 74, 1, 45, 86, 100, 76, 16, 55, 47, 13, 13, 14, 10, 77, 43, 90, 72, 54, 25, 39, 75, 58, 35, 8, 82, 1, 20, 21, 2, 59, 82, 88, 81, 71, 13, 80, 82, 99]

In [64]:
print (len(sample_list_2))

80

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [85]:
set3 = set(set1).difference(set2)
print (set3)

{4, 5, 9, 12, 15, 19, 22, 24, 26, 28, 30, 32, 33, 36, 40, 42, 44, 46, 50, 51, 52, 60, 61, 62, 63, 64, 65, 66, 68, 70, 83, 84, 85, 89, 92, 93, 94}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [86]:
set4 = set(set2).difference(set1)
print (set4)

{2, 10, 13, 77, 80, 17, 21, 86, 88, 95, 100, 55}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [88]:
set5 = set(set1).union(set2)
print (set5)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 32, 33, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 98, 99, 100}

#### 8 - Create an empty set called `set6`.

In [89]:
set6 = ()

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [107]:
set(set3).update(set5)
print(set3)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 32, 33, 35, 36, 37, 38, 39, 40, 42, 43, 44, 45, 46, 47, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 98, 99, 100}

#### 10 - Check if `set1` and `set6` are equal.

In [96]:
set1 == set6

False

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [98]:
z = set(set1).issubset(set2)
z

False

In [99]:
y = set(set1).issubset(set3)
y

True

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [108]:
set1.pop(0)

14

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [110]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

if set1 in list_to_remove:
    list_to_remove.pop()
print(list_to_remove)

[1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [115]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
if set1 in list_to_remove:
    print()
else:
    print("none")

none

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [117]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [121]:
z = set(father_list).intersection(Jo_list)
z

{'cucumber', 'garlic', 'gums', 'onions', 'watermelon', 'yogurt'}

In [122]:
y = set(father_list).intersection(Carlos_list)
y

{'flour', 'garlic', 'onions', 'toilet paper'}

In [143]:
mother_list = set(y).union(z)
print (mother_list)

{'toilet paper', 'garlic', 'yogurt', 'flour', 'gums', 'onions', 'watermelon', 'cucumber'}

In [145]:
father_set = set(father_list).difference(mother_list) 
print(father_set)

set()

In [146]:
Jo_set = set(Jo_list).difference(mother_list) 
print(Jo_set)

{'tomatoes', 'milk', 'juice', 'blueberries', 'sugar'}

In [148]:
Carlos_set = set(Carlos_list).difference(mother_list) 
print(Carlos_set)

{'water', 'cherries', 'tomatoes', 'blueberries'}

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [124]:
Mattia_list = set(Carlos_list).symmetric_difference(Jo_list)
print (Mattia_list)

{'toilet paper', 'cherries', 'yogurt', 'flour', 'gums', 'milk', 'watermelon', 'juice', 'cucumber', 'sugar', 'water'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [152]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['bread', 'chocolate', 'yogurt', 'watermelon', 'chocolate', 'shampoo', 'vinegar', 'onions', 'oranges', 'toilet paper']

In [154]:
print(mother_list)

['bread', 'chocolate', 'yogurt', 'watermelon', 'chocolate', 'shampoo', 'vinegar', 'onions', 'oranges', 'toilet paper']

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [ ]:
# Your code here

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [ ]:
# Your code here

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [ ]:
# Your code here